
body {
  background-color: var(--colorbody);
} 
#wrapper {
  width: 100%;
}

.processing{
	
	opacity: .50;
}
a {
    cursor:pointer;
}
.input-group {
    width: 100%;
 }
td,th {
    cursor:default;
}
.table > thead > tr > th,
.table > thead > tr > td {
	font-size: 12px;
	font-weight: 400;
	border-bottom: 0;
	letter-spacing: 1px;
	vertical-align: top;
	padding: 8px;
	background: var(--color);
	text-transform: uppercase;
	color: #ffffff;

}
.table > tfoot > tr > th,
.table > tfoot > tr > td {
	font-size: 12px;
	font-weight: 400;
	border-bottom: 0;
	letter-spacing: 1px;
	vertical-align: top;
	padding: 8px;
	background: var(--colorlight);
	text-transform: uppercase;
	color: #ffffff;

}
.matrix_eje {
	background: var(--color);
	color: #ffffff;	
}
.matrix_marked {
	background: var(--breadcolor);
	
}
.m {
}
tr:nth-child(even).over {
    background-color: var(--rowevenover);
}
tr:nth-child(even) {
    background-color:  var(--roweven);
}
tr:nth-child(odd).over {
    background-color: var(--rowoddover);
}
tr:nth-child(odd) {
    background-color:  var(--rowodd);
}
.over {
    background-color:  var(--rowevenover);
}

.subtotal {
	background-color: var(--colorlight);
    color: #ffffff;
}
.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
    flex-flow: column nowrap;
}
tr.selected {
  background-color: var(--rowselect);
}
td.selected {
  background-color: var(--rowselect);
}
.table-striped>tbody>tr.selected  {
  background-color:  var(--rowselect);
}
.pagination {
    display:inline-block; 
     padding-left:0; 
     margin:0px 0; 
     border-radius:4px; 
}
.text-left {
	margin-top: 5px;
}

.card .card-header .dropdown {
  line-height: 1;
}

.card .card-header .dropdown .dropdown-menu {
  line-height: 1.5;
}

.card .card-header[data-toggle="collapse"] {
  text-decoration: none;
  position: relative;
  padding: 0.75rem 3.25rem 0.75rem 1.25rem;
}

.card .card-header[data-toggle="collapse"]::after {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 1.725rem;
  line-height: 51px;
  font-weight: 900;
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  color: #d1d3e2;
}

.card .card-header[data-toggle="collapse"].collapsed {
  border-radius: 0.35rem;
}

.card .card-header[data-toggle="collapse"].collapsed::after {
  content: '\f105';
}
.table-grid label {
	display: none;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}

.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.35rem - 1px);
  border-top-right-radius: calc(0.35rem - 1px);
}

.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.35rem - 1px);
  border-bottom-left-radius: calc(0.35rem - 1px);
}

.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.card-header:first-child {
  border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f8f9fc;
  border-top: 1px solid #e3e6f0;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.35rem - 1px) calc(0.35rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  border-radius: calc(0.35rem - 1px);
}

.card-img,
.card-img-top,
.card-img-bottom {
  flex-shrink: 0;
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.35rem - 1px);
  border-top-right-radius: calc(0.35rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.35rem - 1px);
  border-bottom-left-radius: calc(0.35rem - 1px);
}

.card-deck .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  .card-deck .card {
    flex: 1 0 0%;
    margin-right: 0.75rem;
    margin-bottom: 0;
    margin-left: 0.75rem;
  }
}

.card-group > .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.card .card-header .dropdown {
  line-height: 1;
}

.card .card-header .dropdown .dropdown-menu {
  line-height: 1.5;
}

.card .card-header[data-toggle="collapse"] {
  text-decoration: none;
  position: relative;
  padding: 0.75rem 3.25rem 0.75rem 1.25rem;
}

.card .card-header[data-toggle="collapse"]::after {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 1.725rem;
  line-height: 51px;
  font-weight: 900;
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  color: #d1d3e2;
}

.card .card-header[data-toggle="collapse"].collapsed {
  border-radius: 0.35rem;
}

.card .card-header[data-toggle="collapse"].collapsed::after {
  content: '\f105';
}
	
	
.border-left-primary {
    border-left: .25rem solid #4e73df!important
}

.border-bottom-primary {
    border-bottom: .25rem solid #4e73df!important
}

.border-left-secondary {
    border-left: .25rem solid #858796!important
}

.border-bottom-secondary {
    border-bottom: .25rem solid #858796!important
}

.border-left-success {
    border-left: .25rem solid #1cc88a!important
}

.border-bottom-success {
    border-bottom: .25rem solid #1cc88a!important
}

.border-left-info {
    border-left: .25rem solid #36b9cc!important
}

.border-bottom-info {
    border-bottom: .25rem solid #36b9cc!important
}

.border-left-warning {
    border-left: .25rem solid #f6c23e!important
}

.border-bottom-warning {
    border-bottom: .25rem solid #f6c23e!important
}

.border-left-danger {
    border-left: .25rem solid #e74a3b!important
}

.border-bottom-danger {
    border-bottom: .25rem solid #e74a3b!important
}

.border-left-light {
    border-left: .25rem solid #f8f9fc!important
}

.border-bottom-light {
    border-bottom: .25rem solid #f8f9fc!important
}

.border-left-dark {
    border-left: .25rem solid #5a5c69!important
}

.border-bottom-dark {
    border-bottom: .25rem solid #5a5c69!important
}


.shadow-sm {
    box-shadow: 0 .125rem .25rem 0 rgba(58,59,69,.2)!important
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important
}

.shadow-none {
    box-shadow: none!important
}


.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
    background-size: cover
}

.bg-gradient-secondary {
    background-color: #858796;
    background-image: linear-gradient(180deg,#858796 10%,#60616f 100%);
    background-size: cover
}

.bg-gradient-success {
    background-color: #1cc88a;
    background-image: linear-gradient(180deg,#1cc88a 10%,#13855c 100%);
    background-size: cover
}

.bg-gradient-info {
    background-color: #36b9cc;
    background-image: linear-gradient(180deg,#36b9cc 10%,#258391 100%);
    background-size: cover
}

.bg-gradient-warning {
    background-color: #f6c23e;
    background-image: linear-gradient(180deg,#f6c23e 10%,#dda20a 100%);
    background-size: cover
}

.bg-gradient-danger {
    background-color: #e74a3b;
    background-image: linear-gradient(180deg,#e74a3b 10%,#be2617 100%);
    background-size: cover
}

.bg-gradient-light {
    background-color: #f8f9fc;
    background-image: linear-gradient(180deg,#f8f9fc 10%,#c2cbe5 100%);
    background-size: cover
}

.bg-gradient-dark {
    background-color: #5a5c69;
    background-image: linear-gradient(180deg,#5a5c69 10%,#373840 100%);
    background-size: cover
}

.bg-gray-100 {
    background-color: #f8f9fc!important
}

.bg-gray-200 {
    background-color: #eaecf4!important
}

.bg-gray-300 {
    background-color: #dddfeb!important
}

.bg-gray-400 {
    background-color: #d1d3e2!important
}

.bg-gray-500 {
    background-color: #b7b9cc!important
}

.bg-gray-600 {
    background-color: #858796!important
}

.bg-gray-700 {
    background-color: #6e707e!important
}

.bg-gray-800 {
    background-color: #5a5c69!important
}

.bg-gray-900 {
    background-color: #3a3b45!important
}

.page-header .page-header-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.page-header .page-header-content .page-header-title {
  line-height: normal;
  font-size: 2.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.page-header .page-header-content .page-header-title .page-header-icon {
  margin-right: 0.5rem;
  display: inline-flex;
}
.page-header .page-header-content .page-header-title .page-header-icon .feather {
  height: 1.75rem;
  width: 1.75rem;
}
.page-header .page-header-content .page-header-subtitle {
  font-size: 1.15rem;
  margin-top: 0.25rem;
}
.page-header .page-header-search .input-group-joined {
  border-color: transparent;
}
.page-header .page-header-search .input-group-joined .form-control {
  height: 4rem;
  font-size: 1.25rem;
}
.page-header .page-header-search .input-group-joined:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(0, 97, 242, 0.25);
  border-color: transparent;
}

.page-header-compact .page-header-content {
  padding: 0;
}
.page-header-compact .page-header-content .page-header-title {
  font-size: 1rem;
}
.page-header-compact .page-header-content .page-header-title .page-header-icon .feather {
  height: 1rem;
  width: 1rem;
}

.page-header.page-header-dark {
  color: rgba(255, 255, 255, 0.5);
}
.page-header.page-header-dark .page-header-title {
  color: #fff;
}
.page-header.page-header-dark .page-header-title .page-header-icon {
  color: rgba(255, 255, 255, 0.5);
}
.page-header.page-header-dark .page-header-subtitle {
  color: rgba(255, 255, 255, 0.5);
}
.page-header.page-header-dark .breadcrumb {
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}
.page-header.page-header-dark .breadcrumb .breadcrumb-item,
.page-header.page-header-dark .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.35);
}
.page-header.page-header-dark .breadcrumb .breadcrumb-item a {
  color: rgba(255, 255, 255, 0.6);
}
.page-header.page-header-dark .page-header-search .input-group-joined:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  border-color: transparent;
}

.page-header.page-header-light {
  color: rgba(33, 40, 50, 0.5);
}
.page-header.page-header-light .page-header-title {
  color: #212832;
}
.page-header.page-header-light .page-header-title .page-header-icon {
  color: rgba(33, 40, 50, 0.5);
}
.page-header.page-header-light .page-header-subtitle {
  color: rgba(33, 40, 50, 0.5);
}
.page-header.page-header-light .breadcrumb {
  background-color: rgba(0, 0, 0, 0.05);
}
.page-header.page-header-light .breadcrumb .breadcrumb-item,
.page-header.page-header-light .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #69707a;
}
.page-header.page-header-light .breadcrumb .breadcrumb-item a {
  color: #0061f2;
}


.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


#page-wrapper {
  padding: 0 0px;
  min-height: 568px;
  background-color: var(--colorpage);
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 0px;
    border-left: 1px solid #e7e7e7;
  }
  
}
#view_area_and_title {
  padding: 0 0 0 0;
}

.main_canvas {
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   z-index:0;
}
 
.workarea {
	 background-color: var(--color-fondo) !important;
}

.panel-back-left {
    height:100%;
    background-color: #2e6da4 !important;
    background-position: center;
    color:#ffffff;
    box-shadow: inset 0 0 11px 0px black;
}

.panel-back-left h1 {
    font-family: 'exo2-bold';
    color: #fff;
    font-size: 34px;
    letter-spacing: 5px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 25%;
    text-shadow: 2px 2px rgba(21,28,41,.48);
    width: 100%;
    padding: 0 15px;

}
.panel-back-left ul {
    margin-top: 50px;
}
.panel-back-left li {
    text-shadow: 2px 2px rgba(21,28,41,.48);
}

.panel-back-right {
    height:100%;
}

.panel-back-primary {
    height:100%;
    background-color: #2e6da4 !important;
    color:#ffffff;
}
.panel-back-success {
    height:100%;
	background-color: #3f903f !important;
    color:#ffffff;
}
.panel-back-warning {
    height:100%;
	background-color: #f0ad4e !important;
    color:#ffffff;
}
.panel-back-danger {
    height:100%;
	background-color: #d9534f !important;
    color:#ffffff;
}
.panel-back-info {
    height:100%;
	background-color: #5bc0de !important;
    color:#ffffff;
}

.pastilla-primary {
    background-color: #2e6da4 !important;
    color: #ffffff;
    margin: 10px;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
 
 .panel-heading h3 {
    margin-top:0;
}
.btn-expand-collapse {
    position: relative;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #ffffff;
    color: black;
}

.btn-expand-collapse:active {
    background-color: #c0c0c0;
}


.btn-ghost-sm, .btn-ghost-xs {
    line-height: 1.5;
    font-size: 11px;
    margin-right: 5px;
    background-color: transparent;
    padding-top: 0px;
}

.navbar-no-bottom {
  margin-bottom: 0px;
}

.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
  min-width:300px;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: nowrap;
  padding-right: 30px
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}

.sidebar .sidebar-nav.navbar-collapse.collapsed .glyphicon {
  font-size: 22px;
}
.sidebar .sidebar-nav.navbar-collapse.collapsed .fa {
  font-size: 22px;
}

.sidebar .sidebar-nav.navbar-collapse.collapsed .nav-label {
  display: none;
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #eeeeee;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
  height: 30px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
  height: 30px;
}
.panelsidebar {
    margin-top: 0px;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
  .panelsidebar {
    margin-top: 60px;
  }

  .sidebar .sidebar-nav.navbar-collapse.collapsed {
    z-index: 1;
    position: absolute;
    width: 60px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button  {
  padding: 0px 0px;
  margin-left: 0px;
}


.btn-like {
  padding-right:2px;
  padding-left:2px;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999999;
}
.chat li.left .chat-body {
  margin-left: 60px;
}
.chat li.right .chat-body {
  margin-right: 60px;
}
.chat li .chat-body p {
  margin: 0;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}
.login-panel {
  margin-top: 100px;
}
.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}
.show-grid {
  margin: 15px 0;
}
.huge {
  font-size: 40px;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
.timeline {
  position: relative;
  padding: 20px 0 20px;
  list-style: none;
}
.timeline:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  margin-left: -1.5px;
  background-color: #eeeeee;
}
.timeline > li {
  position: relative;
  margin-bottom: 20px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  float: left;
  position: relative;
  width: 46%;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 26px;
  right: -15px;
  border-top: 15px solid transparent;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ccc;
}
.timeline > li > .timeline-panel:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 27px;
  right: -14px;
  border-top: 14px solid transparent;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #fff;
}
.timeline > li > .timeline-badge {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  font-size: 1.4em;
  line-height: 50px;
  color: #fff;
  background-color: #999999;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(10%);
    width: -moz-calc(10%);
    width: -webkit-calc(10%);
  }
  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
}

.breadcrumb_panel {
  display: flex;
  align-items: center;
  margin-bottom: -10px;
}
.breadcrumb_panel .breadcrumb {
  background-color: transparent;
}
.breadcrumb_panel .breadcrumb-item:not(.active) {
  color: #868e96;
}
.breadcrumb_panel .breadcrumb-item:not(.active):hover, .br-pageheader .breadcrumb-item:not(.active):focus {
  color: #495057;
}
.breadcrumb_panel .breadcrumb-item.active {
  color: var(--breadcolor);
}

.breadcrumb {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 3px;
}
.breadcrumb::after {
  display: block;
  clear: both;
  content: "";
}

.breadcrumb-item {
  float: left;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #868e96;
  content: "/";
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}
.breadcrumb-item.active {
  color: #868e96;
}
.breadcrumb-button {
   margin-left: 10px;
}


td {
	font-size: 12px;
}
.page-container {
  margin: 0px;
}


/* horizontal panel*/


@media (min-width: 768px) {
	.panel-container {
	  display: flex;
    margin-top: 10px;
 	  flex-direction: row;
	  overflow: hidden;
	  
	  /* avoid browser level touch actions */
	  xtouch-action: none;
	}
	.panel-left {
	  flex: 0 0 auto;
	  /* only manually resize */
	}
	
	.splitter {
	  flex: 0 0 auto;
	  width: 5px;  
	  background: url(../images/vsizegrip.png) center center no-repeat #ffffff;
	  min-height: 200px;
	  cursor: col-resize;  
	}
	
	.panel-right {
	  flex: 1 1 auto;
	  /* resizable */
	  width: 100%;
	  width:100px ;
	}
}
@media (max-width: 767px) {
	.panel-container {
	  display: flex;
	  flex-direction: column;
	  overflow: hidden;
  
	  /* avoid browser level touch actions */
	  xtouch-action: none;
	}
	.panel-left {
	  flex: 0 0 auto;
	  /* only manually resize */
	  padding: 10px;
	  width: 100% !important;
	}
	
	.splitter {
	  flex: 0 0 auto;
	  height: 18px;
	  background: url(../images/hsizegrip.png) center center no-repeat #ffffff;
	  cursor: row-resize;
	}
	
	.panel-right {
	  flex: 1 1 auto;
	  /* resizable */
	  padding: 10px;
  	  min-height:800px;
	  width: 100% !important;
	}
}

.with-sidebar {
}
@media (min-width: 768px) {
    .with-sidebar {
        margin-left:250px;
        border-left: 1px solid #ddd;
        background-image: linear-gradient(180deg, #858686, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent);

    }
}

/* vertical panel */

.panel-container-vertical {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.panel-top {
  flex: 0 0 auto;
  /* only manually resize */
  padding: 10px;
  width: 100%;
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 18px;
  background: url(../images/hsizegrip.png) center center no-repeat #ffffff;
  cursor: row-resize;
}


.panel-bottom {
  flex: 1 1 auto;
  /* resizable */
  padding: 10px;
}

.tablelabel_info {
  padding-top: 8px;
	margin-left: 50px;
  white-space: nowrap;
}

.label_checkbox {
	margin-left: 10px;
	margin-right: 5px;
}

.checkbox label .toggle,
.checkbox-inline .toggle {
	margin-left: -20px;
	margin-right: 5px;
}

.toggle {
	position: relative;
	overflow: hidden;
	margin-left: 3px;
}
.toggle input[type="checkbox"] {
	display: none;
}
.toggle-group {
	position: absolute;
	width: 200%;
	top: 0;
	bottom: 0;
	left: 0;
	transition: left 0.35s;
	-webkit-transition: left 0.35s;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.toggle.off .toggle-group {
	left: -100%;
}
.toggle-on {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	margin: 0;
	border: 0;
	border-radius: 0;
}
.toggle-off {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
}
.toggle-handle {
	position: relative;
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 100%;
	width: 0px;
	border-width: 0 1px;
}

.toggle.btn { min-width: 59px; min-height: 34px; }
.toggle-on.btn { padding-right: 24px; }
.toggle-off.btn { padding-left: 24px; }

.toggle.btn-lg { min-width: 79px; min-height: 45px; }
.toggle-on.btn-lg { padding-right: 31px; }
.toggle-off.btn-lg { padding-left: 31px; }
.toggle-handle.btn-lg { width: 40px; }

.toggle.btn-sm { min-width: 50px; min-height: 30px;}
.toggle-on.btn-sm { padding-right: 20px; }
.toggle-off.btn-sm { padding-left: 20px; }

.toggle.btn-xs { /*min-width: 35px;*/ min-height: 22px;}
.toggle-on.btn-xs { padding-right: 12px; }
.toggle-off.btn-xs { padding-left: 12px; }

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

.toggle.android { border-radius: 0px;}
.toggle.android .toggle-handle { border-radius: 0px; }

[class^="icon-"],[class*=" icon-"]{display:inline-block;width:14px;height:14px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url("../images/glyphicons-halflings.png");background-position:14px 14px;background-repeat:no-repeat;margin-top:1px;}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropup .dropdown-submenu>.dropdown-menu{top:auto;bottom:0;margin-top:0;margin-bottom:-2px;-webkit-border-radius:5px 5px 5px 0;-moz-border-radius:5px 5px 5px 0;border-radius:5px 5px 5px 0;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.dropdown .dropdown-menu .nav-header{padding-left:20px;padding-right:20px;}


.dropdownbar {
	padding-right: 15px;
}


.inline_component {
  display: inline-table;
  position: relative;
  margin-right: 5px;
  vertical-align: top;
}

.m .inline_component {
    display:  contents;
	position: relative;
  margin-right: 5px;
  vertical-align: top;
}

.inline_component > select {
  padding: 0rem 0rem;
  padding-top: 5px;
}
.inline_component > input,
.inline_component .input-group > input,
.inline_component .input-group > label,
.inline_component > label {
  padding: 0rem 0rem;
}

.inline_component > .form-group {
    margin-bottom:0px; 
}


.inline_component .input-group > label,
.inline_component > *+label {
  position: absolute;
  top: 5;
  left: 0;
  display: block;
  width: 70%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #808080;
  border: 1px solid transparent;
  border-radius: .25rem;
  z-index:100;
  transition: all .1s ease-in-out;
}

.inline_component input::-webkit-input-placeholder,
.inline_component .input-group input:-webkit-input-placeholder {
	color: transparent;
}

.inline_component input:-ms-input-placeholder,
.inline_component .input-group input:-ms-input-placeholder {
	color: transparent;
}

.inline_component input::-ms-input-placeholder,
.inline_component .input-group input::-ms-input-placeholder {
  color: transparent;
}

.inline_component input::-moz-placeholder,
.inline_component .input-group input::-moz-placeholder {
	color: transparent;
}

.inline_component input::placeholder,
.inline_component .input-group input::placeholder {
	color: transparent;
}

.inline_component input:not(:placeholder-shown) {
  padding-bottom: 0rem;
  padding-top: 5px;
}
.inline_component input:-ms-input-placeholder:not(:focus) {
  padding-bottom: 0rem;
  padding-top: 5px;
}

.inline_component input:not(:placeholder-shown) ~ label, 
.inline_component .input-group input:not(:placeholder-shown) ~ label, 
.inline_component input:focus ~ label,
.inline_component .input-group input:focus ~ label,
.inline_component select ~ label {
  top: 0;
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-size: 8px;
  color: #777;
}

.rowdeleted {
  background-color: #ecc3bc;
  opacity: 0.5;
}

.zone_draggeable {  
	display:inline-block;
	border-color: rgba(255,  255,  255,  1);
 }

.zone_resizeable {  
	display:inline-block;
	border-color: rgba(255,  255,  255,  1);
 }
	
.zone_resizeable:hover {  
	display:inline-block;
	border-color: var(--color);
	border-style: dotted;
 }
 
.toolbar {  
	padding-bottom: 10px;
	padding-right: 15px;
 }
  
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
hr.style-two {
	margin-top:0px; 
	margin-bottom:0px; 
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

hr.style-five {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr.style-five:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "?";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
 .panel-ghost {
	  border-color: rgba(255,  255,  255,  1);
	}
.panel-ghost > .panel-heading {
  color: #000000;
  background-color: rgba(255,  255,  255,  1);
  border-color: rgba(255,  255,  255,  1);
}
.panel-ghost > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: rgba(255,  255,  255,  1);
}
.panel-ghost > .panel-heading .badge {
  color: var(--color);
  background-color: rgba(255,  255,  255,  1);
}
.panel-ghost> .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: rgba(255,  255,  255,  1);
}

.toolbar-row {
	padding-top: 1px;
	padding-bottom: 1px;
}

.toolbar-row-link {
	padding-right: 5px;
}


.border {
  border: 1px solid #dee2e6 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #007bff !important;
}

.border-secondary {
  border-color: #6c757d !important;
}

.border-success {
  border-color: #28a745 !important;
}

.border-info {
  border-color: #17a2b8 !important;
}

.border-warning {
  border-color: #ffc107 !important;
}

.border-danger {
  border-color: #dc3545 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.border-white {
  border-color: #fff !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem
}

.custom-control-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 1rem
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #007bff
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px #fff,0 0 0 .2rem rgba(0,123,255,.25)
}

.custom-control-input:active~.custom-control-label::before {
    color: #fff;
    background-color: #b3d7ff
}

.custom-control-input:disabled~.custom-control-label {
    color: #6c757d
}

.custom-control-input:disabled~.custom-control-label::before {
    background-color: #e9ecef
}

.custom-control-label {
    position: relative;
    margin-bottom: 0
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%
}

.custom-checkbox .custom-control-label::before {
    border-radius: .25rem
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #007bff
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E")
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
    background-color: #007bff
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E")
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(0,123,255,.5)
}

.custom-checkbox .custom-control-input:disabled:indeterminate~.custom-control-label::before {
    background-color: rgba(0,123,255,.5)
}

.custom-radio .custom-control-label::before {
    border-radius: 50%
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #007bff
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E")
}

.custom-radio .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(0,123,255,.5)
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.custom-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(128,189,255,.5)
}

.custom-select:focus::-ms-value {
    color: #495057;
    background-color: #fff
}

.custom-select[multiple],.custom-select[size]:not([size="1"]) {
    height: auto;
    padding-right: .75rem;
    background-image: none
}

.custom-select:disabled {
    color: #6c757d;
    background-color: #e9ecef
}

.custom-select::-ms-expand {
    opacity: 0
}

.custom-select-sm {
    height: calc(1.8125rem + 2px);
    padding-top: .375rem;
    padding-bottom: .375rem;
    font-size: 75%
}

.custom-select-lg {
    height: calc(2.875rem + 2px);
    padding-top: .375rem;
    padding-bottom: .375rem;
    font-size: 125%
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin-bottom: 0
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0
}

.custom-file-input:focus~.custom-file-label {
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25)
}

.custom-file-input:focus~.custom-file-label::after {
    border-color: #80bdff
}

.custom-file-input:disabled~.custom-file-label {
    background-color: #e9ecef
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Browse"
}


.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.25rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0
}

.custom-range {
    width: 100%;
    padding-left: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.custom-range:focus {
    outline: 0
}

.custom-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff,0 0 0 .2rem rgba(0,123,255,.25)
}

.custom-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff,0 0 0 .2rem rgba(0,123,255,.25)
}

.custom-range:focus::-ms-thumb {
    box-shadow: 0 0 0 1px #fff,0 0 0 .2rem rgba(0,123,255,.25)
}

.custom-range::-moz-focus-outer {
    border: 0
}

.custom-range::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: -.25rem;
    background-color: #007bff;
    border: 0;
    border-radius: 1rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    appearance: none
}
.checkbox,.radio {
    padding-left: 60px;
}
.rotate {
	
	/* Safari */
	-webkit-transform: rotate(-90deg);
	
	/* Firefox */
	-moz-transform: rotate(-90deg);
	
	/* IE */
	-ms-transform: rotate(-90deg);
	
	/* Opera */
	-o-transform: rotate(-90deg);
	
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}


.table-customlist thead tr th {
	font-size : 10px;
	
}
